:host {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
  color: #112233;
}

:host-context(.active_cell) {
  background: aquamarine;
}

:host-context(.error) {
  background-color: navajowhite;
  color: red;
}

:host-context(.error.active_cell) {
  background: aquamarine;
}

.permanent {
  font-weight: 900;
  color: #000000;
}
