<h3>Seed: {{ seed }} <button (click)="regenerateBoard()">Regenerate</button></h3>
<ng-container *ngIf="gameState$ | async as gameState">
  <div class="flex_container">
    <app-board class="flex_board" [gameStatus]="gameState" [selectedPosition]="selectedCellPosition$ | async" (selected)="selectCell($event)"></app-board>
    <app-board class="flex_board" [gameStatus]="gameState" [selectedPosition]="selectedCellPosition$ | async" [alwaysShown]="true"></app-board>
  </div>

  <app-cell-actions
    [board]="gameState"
    [position]="selectedCellPosition$ | async"
    [cell]="selectedCell$ | async"
    (positionChange)="selectCell($event)"
    (cellValueChange)="setCellValue($event)"
  ></app-cell-actions>

  <div>
    <button (click)="validate()">Validate</button>
  </div>

  <div>{{ selectedCell$ | async | json }}</div>
</ng-container>
