:host {
  display: block;
  width: 545px;
  margin: 0 auto;
}

.flex_container {
  display: flex;
  width: 100%;
}

.flex_board {
  display: block;
  margin-right: 20px;
}

.flex_actions {
  display: block;
}

.game_actions {
  margin-top: 40px;
}

.game_action {
  border: 1px solid #333333;
  padding: 10px;
  line-height: 20px;
  font-size: 20px;
}

.game_action:hover {
  background: rgba(66,66,99,0.2);
}

.game_action:focus {
  outline: transparent;
}

.game_action:active {
  background: rgba(99,99,255,0.2);
}

.game_action.active {
  background: rgba(99,99,255,0.2);
}
