:host {
  display: block;
  width: 545px;
  margin: 0 auto;
}

.header {
  font-size: 24px;
  padding: 12px 0;
}

.title {
}

.gridbox {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 372px 150px;
}

.flex_container {
  display: flex;
  width: 100%;
}

.flex_board {
  display: block;
}

.flex_actions {
  display: block;
}

.regen_btn {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 45px;
}

.game_action {
  border: 1px solid #333333;
  margin-top: 40px;
  padding: 10px;
  line-height: 20px;
  font-size: 20px;
}

.game_action:hover {
  background: var(--button-hover-backgroud);
}

.game_action:focus {
  outline: transparent;
}

.game_action:active {
  background: var(--button-active-backgroud);
}

.game_action.active {
  background: var(--button-active-backgroud);
}
