.move_menu {
  position: relative;
  height:  var(--move-menu-size);
}

.move {
  width: var(--move-action-size);
  height: var(--move-action-size);
  line-height: var(--move-action-size);
  position: absolute;
}

.move:hover {
  background: var(--button-hover-backgroud);
}

.move:focus {
  outline: transparent;
}

.move:active {
  background: var(--button-active-backgroud);
}

.move.active {
  background: var(--button-active-backgroud);
}

.move.left {
  left: 0;
  top: var(--move-action-size);
}

.move.right {
  right: 0;
  top: var(--move-action-size);
}

.move.up {
  left: var(--move-action-size);
  top: 0;
}

.move.down {
  left: var(--move-action-size);
  bottom: 0;
}

.keyboard {
  margin-top: 22px;
  width: var(--move-menu-size);
}

.keyboard_action {
  display: inline-block;
  width: var(--move-action-size);
  height: var(--move-action-size);
  line-height: var(--move-action-size);
}

.clear_action {
  display: inline-block;
  width: calc(3 * var(--move-action-size));
  height: var(--move-action-size);
  line-height: var(--move-action-size);
}

.keyboard_action:hover {
  background: var(--button-hover-backgroud);
}

.keyboard_action:focus {
  outline: transparent;
}

.keyboard_action:active {
  background: var(--button-active-backgroud);
}

.keyboard_action.active {
  background: var(--button-active-backgroud);
}
