:host {
  display: block;
  position: relative;
}

.locker {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  align-content: center;
  display: grid;
  background: rgba(255,255,255,0.6);
  z-index: 1;
}
